html, body{
	margin: 0;
	padding: 0;
}
.quankaki{
	float: left;
	width: 100%;
	height: 1000px;
	background: #FBF8F1;
	padding-top: 50px;
	font-family: 'Courier New';
}
.ptu_trai1{
	float: left;
	width: 240px;
	height: 1000px;
}
.ptu_phai1{
	float: left;
	width: 900px;
	height: 1000px;
	background: #FBF8F1;
	padding-left: 10px;
}